.swiper-container {
  @apply w-full h-full;
}

.swiper-slide {
  @apply text-center text-base bg-white flex justify-center items-center;
}

.swiper-pagination-bullet {
  @apply w-2 h-2 inline-block rounded-full bg-black opacity-20;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--primary, var(--primary)) !important;

}

.swiper-button-next,
.swiper-button-prev {
  width: 60px !important;
  height: 60px !important;
  @apply text-primary w-6 h-6;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  @apply opacity-30;
}


.swiper-button-next:after,
.swiper-button-prev:after {
  background-image: url("/slider-arrows.png");
  background-size: cover;
  color: transparent !important;
  width: 60px !important;
  height: 60px !important;
}


.swiper-button-next:after {
  background-position: right;
}

.swiper-button-prev:after {
  background-position: left;
}
